# MacOS
.DS_Store

# Rendered Apps
examples/*.webp
examples/*.gif

# Pixlet Binary
build/out/pixlet

# Custom
*~
pixlet
*.star
*.bak
images/

pixlet
pixlet.exe

# Releases
build/
out/

# Dependency directories
node_modules
